@import '../../Assets/Styles/_variable';

.favouriteSection{
    background-color: $tertiary-color;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 40vh;
    padding: 60px 0px 60px 0px;
    a,button{
            border: 2px solid $secondary-color;
            border-radius: 10px;
            background-color: transparent;
            padding: 3px 20px 0px 20px;
            color: $secondary-color;
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-size: 20px;
            &:active{
                background-color: $tertiary-color
            }
            &:hover{
                transform: scale(1.1,1.1);
            }
        }
}

.favProductsListContainer{
    min-height:'80vh';
    padding:60px 30px 60px 30px;
    width: 100%;
    display:grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    
    .favProductContainer{
        background-color: $opacity-primary-color;
        box-shadow: 0px 0px 5px 2px $secondary-color;
        border-radius: 10px;
        width: 100%;
        min-height: 400px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        h1{
          text-align: center;
          white-space: nowrap; 
          width: 90%; 
          overflow: hidden;
          text-overflow: ellipsis; 
        }

        img{
            width: 100%;
            height: auto;
            border-radius: 10px;
            border: 2px solid $secondary-color;
        }
    }
}




// @medium devices
@media screen and (min-width:768px) {
    .favProductsListContainer{
        padding:80px 30px 80px 30px;
        grid-gap:50px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

// @large devices
@media screen and (min-width:992px) {
    .favProductsListContainer{
        padding:130px ;
        grid-gap:80px;
    }
}

