@import '../../Assets/Styles/_variable';

.header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    width: 100%;
    padding: 0.5% 2% 0.5% 2%;
 
    border-bottom: 1px solid $secondary-color;

    .logoLink{
        height: 82%;
        img{
        height: 100%;
        width: auto;
    }
    }
    
    a{
        display: inline-flex;
        align-items: center;
        h2{
            margin-right: 5px;
            display: none;
        }
    }
}

// @small devices
@media screen and (min-width:576px) {
    .header > a {
        h2 {
        display: inline;
        text-align: center;
        }
        svg{
            width: 25px;
            height: auto;
        }
    }
}

// @medium devices
@media screen and (min-width:768px) {
    .header{
        height: 70px;
    }
}

// @large devices
@media screen and (min-width:992px) {
    .header{
        height: 80px;
    }
    .header > a {
        h2 {
        margin-right: 10px;
        }
    }
}

// @extra large devices
@media screen and (min-width:1200px) {
    .header > img{
        height: 100%;
    }
    .header{
        padding-right: 5%;
    }
}