@import '../../Assets/Styles/_variable';

.footer{
    background-color: $opacity-primary-color;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}    
.projectInfo{
    width: 90%;
    margin-top: 30px;
    h3{
        margin-top: 10px;
        &:first-child{
            margin-top: initial;
        }
    }
}
    
.socialLinks{
    width: 90%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    .links{
        margin-top: 20px;
        display: inline-flex;
        width: 80%;
        justify-content: space-around;
        i{
            font-size: 25px;
        }
    }
}

// @small devices
@media screen and (min-width:576px) {
      
    .socialLinks{
        .links{
            width: 70%;
            i{
                font-size: 28px;
            }
        }
    }
}

// @medium devices
@media screen and (min-width:768px) { 
   
    .projectInfo{
        width: 85%;
        margin-top: 50px;
        h3{
            margin-top: 20px;
        }
    }
        
    .socialLinks{
        width: 85%;
        margin-top: 50px;
        margin-bottom: 50px;
        .links{
            margin-top: 35px;
            i{
                font-size: 32px;
            }
        }
    }
}

// @large devices
@media screen and (min-width:992px) {
    .footer{
        flex-direction: row;
        padding: 40px;
    }    
    .projectInfo{
        width: 35%;
        margin-top: 0px;
        h3{
            margin-top: 20px;
        }
    }
        
    .socialLinks{
        width: 50%;
        margin-top: 0px;
        margin-bottom: 0px;
        .links{
            margin-top: 35px;
        }
    }
}
