@import '../../Assets/Styles/_variable';

.footer{
    background-color: $opacity-primary-color;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $secondary-color;
}    
.projectInfo{
    width: 90%;
    margin-top: 70px;
    h2{
        margin-top: 10px;
        &:first-child{
            margin-top: initial;
        }
    }
}
    
.socialLinks{
    width: 90%;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    .links{
        margin-top: 30px;
        display: inline-flex;
        width: 65%;
        justify-content: space-around;
        i{
            font-size: 35px;
            &:hover{
                color: $tertiary-color;
            }
        }
    }
}

// @small devices
@media screen and (min-width:576px) {
      
    .socialLinks{
        .links{
            width: 60%;
        }
    }
}

// @medium devices
@media screen and (min-width:768px) { 
   
    .projectInfo{
        width: 85%;
        h2{
            margin-top: 20px;
        }
    }
        
    .socialLinks{
        width: 85%;
        .links{
            margin-top: 50px;
            i{
                font-size: 40px;
            }
        }
    }
}

// @large devices
@media screen and (min-width:992px) {
    .footer{
        flex-direction: row;
        padding: 100px;
    }    
    .projectInfo{
        width: 40%;
        margin-top: 0px;
        h2{
            margin-top: 20px;
        }
    }
        
    .socialLinks{
        width: 50%;
        margin-top: 0px;
        margin-bottom: 0px;
        .links{
            margin-top: 50px;
        }
    }
}
