@import '../../Assets/Styles/_variable';

.productsListContainer{
    // background-color: $tertiary-color;
    background-color: $tertiary-color;
    min-height: 40vh;
    padding:60px 30px 60px 30px;
    
    display:grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
}


// @medium devices
@media screen and (min-width:768px) {
    .productsListContainer{
        padding:80px 30px 80px 30px;
        grid-gap:50px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

// @large devices
@media screen and (min-width:992px) {
    .productsListContainer{
        padding:130px ;
        grid-gap:80px;
    }
}

