// import font from google font
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ------GLOBAL STYLES-------//

// @extra small devices 

body{
    background-image: url('./Assets/Img/mobile-leaves.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;

    max-width: 1800px;
    margin:0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
 font-weight: 500;
 font-size: 33px;
}

h2{
 font-weight: 400;
 font-size: 30px;
}

h3{
 font-weight: 400;
 font-size:27px;
}

h4{
 font-weight: 400;
 font-size: 23px;
}

p{
font-size: 17px;
}

// @medium devices
@media screen and (min-width:768px) {
  
    body{
        background-image: url('./Assets/Img/Desktop-leaves.jpg');
    }

        h1{
          font-size:36px;
        }
        
        h2{
        font-size: 33px;
        }
        
        h3{
        font-size: 30px;
        }
        
        h4{
        font-size: 24px;
        }
        
}

// @large devices
@media screen and (min-width:992px) {
       h1{
         font-size: 39px;    
        }
        
        h2{
         font-size: 36px;
        }
        
        h3{
         font-size: 33px;
        }
        
        h4{
         font-size: 27px;
        }
        
        p{
         font-size:20px;
        }
}
