// color

// $primary-color:#2D4B0D;
$primary-color:#0f1b02;

$secondary-color:#ffffff;

// $tertiary-color:#D4ED9C;
$tertiary-color:#6e8a74;




// $opacity-primary-color:#2d4b0de5;
$opacity-primary-color:#0c0f0391;
